.popup-image__close-btn {
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 640px) {
  .popup-image__close-btn {
    width: 30px;
    height: 30px;
    top: -30px;
    right: -30px;
  }
}

@media screen and (max-width: 420px) {
  .popup-image__close-btn {
    top: -20px;
    right: -25px;
  }
}
